/* ========== LoginPage Styling ========== */
.auth-page {
  max-width: 40%;
  margin: 0 auto;
}
.auth-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 0.4rem 1px var(--dark-grey); */
}
.auth-navlink {
  text-decoration: none;
  background-color: var(--bone-white);
  font-size: 1.2rem;
  padding: 1rem 2rem;
  color: var(--dark-grey);
  transition: all 0.2s;
}
.active-auth-navlink {
  background-color: var(--orange);
  color: var(--bone-white);
}
.auth-navlink:hover {
  cursor: pointer;
  color: var(--orange);
}
.active-auth-navlink:hover {
  background-color: var(--orange);
  color: var(--bone-white);
}
.login-button {
  border-radius: 0.5rem 0 0 0.5rem;
}
.register-button {
  border-radius: 0 0.5rem 0.5rem 0;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.required {
  color: red;
}
/* ========== LoginForm Styling ========== */
