/* ========== Form Styling ========== */
.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--bone-white);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 4px 0.1px var(--dark-grey);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.required {
  color: var(--tomato-red);
}
.activated-submit-button {
  transition: all 0.1s;
}
.activated-submit-button:hover {
  cursor: pointer;
  background-color: var(--orange);
  color: var(--bone-white);
}
