/* Variables */
:root {
  /* Colors */
  --dark-grey: #2f2f2f;
  --bone-white: #f1f1f1;
  --grey: #a1a1a1;
  --orange: #ee6100;
}

/* For Viewing Box Sizes */
* {
  /* border: 1px solid red; */
}

/* STYLE SHEETS */
@import "./normalize.css";
@import "./general.css";
@import "./auth.css";
