.userCard {
    display: flex;
    flex-direction: column;
    background: rgb(35,42,71);
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 250px;
    margin: 6rem auto 8.1rem auto;
    width: 300px;
    padding: 12px 44px;
}
.infoList {
    font-size: 1.3rem;
    margin-top: 20%;
}
#userButton {
    font-size: 1.3rem;
    border: 1px solid white;
    padding: 1%;
    margin-left: 70%;
}
#userButton:hover{
    color:rgb(2, 189, 117);
    border: 1px solid rgb(2, 189, 117);
}
